@{
    ViewData["Title"] = "Página não encontrada";
}
<div class="text-center">

    <h1>Ops, página não encontrada</h1>
    <br />
    <img src="~/img/Interrogacao.png" height="300" width="300" />
    <br />
    <a href="javascript:history.back()">Clique aqui para voltar</a>
</div>