@model ContatoModel
@{
    ViewData["Title"] = "Editar contato";
}


<div class="text-center">
    <h1 class="display=4">@ViewData["Title"]</h1>
</div>

<form asp-controller="Contatos" asp-action="Alterar" method="post">
    
    <input type="hidden" asp-for="Id" />
    
    <div class="mb-3">
        <label for="nome" class="form-label">Nome</label>
        <input type="text" asp-for="Nome" class="form-control" placeholder="Nome do contato">
        @Html.ValidationMessageFor(x => x.Nome)
    </div>
    <div class="mb-3">
        <label for="email" class="form-label">E-mail</label>
        <input type="email" asp-for="Email" class="form-control" placeholder="nome@example.com">
        
        @Html.ValidationMessageFor(x => x.Email)
    </div>
    <div class="mb-3">
        <label for="celular" class="form-label">Celular</label>
        <input type="tel" asp-for="Celular" class="form-control" placeholder="xxxx-xxx">
        @Html.ValidationMessageFor(x => x.Celular)
        </div>
    <div class="d-grid gap-2">
        <button type="submit" class="btn btn-primary">Salvar alterações</button>
        <a class="btn btn-secondary" asp-controller="Contatos" asp-action="Index">Voltar</a>
    </div>
</form>